@model IEnumerable<personapi_dotnet.Models.Entities.Estudio>

@{
    ViewData["Title"] = "Estudios";
}

<h1>🎓 Estudios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Estudio</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
        <th>Profesión ID</th>
        <th>Persona CC</th>
        <th>Fecha</th>
        <th>Universidad</th>
        <th>Persona</th>
        <th>Profesión</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdProf)</td>
            <td>@Html.DisplayFor(modelItem => item.CcPer)</td>
            <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
            <td>@Html.DisplayFor(modelItem => item.Univer)</td>
            <td>@Html.DisplayFor(modelItem => item.CcPerNavigation.Nombre) @Html.DisplayFor(modelItem => item.CcPerNavigation.Apellido)</td>
            <td>@Html.DisplayFor(modelItem => item.IdProfNavigation.Nom)</td>
            <td>
                <div class="btn-group gap-2" role="group">
                    <a asp-action="Edit" asp-route-idProf="@item.IdProf" asp-route-ccPer="@item.CcPer" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-idProf="@item.IdProf" asp-route-ccPer="@item.CcPer" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-idProf="@item.IdProf" asp-route-ccPer="@item.CcPer" class="btn btn-danger btn-sm">Eliminar</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>